In [1]:
import pandas as pd

df = pd.read_csv('/root/autodl-tmp/xingmei/RecSys23/data/simplified_trn_val_tst_with_weekday.csv', sep='\t')

In [3]:
tst_df = df[-160973:]

In [4]:
tst_df

,weekday,f_1,f_2,f_3,f_4,f_5,f_6,f_8,f_9,f_10,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,is_clicked,is_installed
3485852,2,67,26325,7152,21563,19475,31440,21621,14659,21574,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0
3485853,2,67,20095,563,22861,19475,21280,19203,14659,21574,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3485854,2,67,890,22294,18294,21545,20210,18800,9638,19343,...,0.000000,0.000000,0.000000,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3485855,2,67,20095,563,22861,25604,21280,18800,14659,22970,...,2.284486,0.000000,0.000000,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3485856,2,67,27426,22294,11338,19475,23855,21218,9638,21574,...,0.000000,0.000000,0.077128,0.077128,0.077128,0.0,0.000000,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646820,2,67,26325,22294,4896,25604,23841,21218,14659,22970,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3646821,2,67,14963,22294,26466,21545,8488,19203,14659,22970,...,0.571121,0.571121,0.115692,1.156922,0.269948,0.0,37.384575,37.384575,0,0
3646822,2,67,20095,563,31686,21545,590,21218,14659,22970,...,2.284486,1.142243,0.115692,1.156922,0.269948,0.0,37.384575,0.000000,0,0
3646823,2,67,890,7152,497,21545,876,19606,14659,19343,...,0.571121,0.000000,0.000000,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3646824,2,67,27426,7152,3786,21545,29871,18800,14659,19343,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0

In [8]:
tst_df.iloc[0]

weekday             2.0
f_1                67.0
f_2             26325.0
f_3              7152.0
f_4             21563.0
                 ...
f_77                0.0
f_78                0.0
f_79                0.0
is_clicked          0.0
is_installed        0.0
Name: 3485852, Length: 78, dtype: float64

In [11]:
all_dup = df.duplicated()

In [29]:
dup_idx = [i  for i in range(3485852) if all_dup[i]]

In [ ]:
dup_58_59 = df.duplicated(subset=['f_58', 'f_59'])

In [33]:
dup_58_59.sum()

3645014

In [34]:
dup_58_59_68 = df.duplicated(subset=['f_58', 'f_59', 'f_68'])
dup_58_59_68.sum()

3645014

In [35]:
dup_2_6_58_59_68 = df.duplicated(subset=['f_2', 'f_6', 'f_58', 'f_59', 'f_68'])
dup_2_6_58_59_68.sum()

3601621

In [36]:
dup_2_3_4_6_8_10_11_58_59_68 = df.duplicated(subset=['f_2', 'f_3', 'f_4', 'f_6', 'f_8', 'f_10', 'f_11', 'f_58', 'f_59', 'f_68'])
dup_2_3_4_6_8_10_11_58_59_68.sum()

2672015

In [ ]:
dup_idx_2_3_4_6_8_10_11_58_59_68 = [i  for i in range(3485852) if dup_2_3_4_6_8_10_11_58_59_68[i]]

In [45]:
dup_2_3_4_6_8_10_11_12_19_20_58_59_68 = df.duplicated(subset=['f_2', 'f_3', 'f_4', 'f_6', 'f_8', 'f_10', 'f_11', 'f_12', 'f_19', 'f_20', 'f_58', 'f_59', 'f_68'])
print(dup_2_3_4_6_8_10_11_12_19_20_58_59_68.sum())
dup_idx_2_3_4_6_8_10_11_12_19_20_58_59_68 = [i  for i in range(3485852) if dup_2_3_4_6_8_10_11_12_19_20_58_59_68[i]]
print(dup_idx_2_3_4_6_8_10_11_12_19_20_58_59_68[-1000])

2313855
3484294

In [61]:
# subset = [
#         'weekday',
#         'f_2', 'f_3', 'f_4', 'f_6', 'f_8', 'f_9', 'f_10', 
#         'f_11', 'f_12', 'f_18', 'f_19', 
#         'f_20', 
#         'f_30', 'f_31', 'f_33', 'f_34', 'f_35', 'f_37', 'f_38', 'f_39', 
#         'f_40', 'f_41', 'f_43', 'f_44', 'f_45', 'f_46', 'f_47', 'f_48', 'f_49',
#         'f_50', 'f_58', 'f_59', 
#         'f_66', 'f_68', 'f_69', 
#         'f_70', 'f_1', 'f_72', 'f_73', 'f_75', 'f_76', 'f_77', 'f_78', 'f_79'
#     ]
subset = ['f_2', 'f_3', 'f_4', 'f_6', 'f_8', 'f_10', 'f_11', 'f_58', 'f_59', 'f_68']
all = df.duplicated(subset=subset)
trn = df[:3485852].copy()
trn.reset_index(inplace=True)
trn = trn.duplicated(subset=subset)

tst = df[3485852:].copy()
tst.reset_index(inplace=True)
tst = tst.duplicated(subset=subset)
print(all.sum(), trn.sum(), tst.sum())
print(all.sum()-trn.sum()-tst.sum())

2672015 2556356 111446
4213