In [8]:
import pandas as pd
def add_weekday(path, save_path):
    df = pd.read_csv(path, sep='\t')
    df['weekday'] = df['f_1'].map(lambda x: 1 if x in [45, 52, 59, 66] else 
                                        2 if x in [46, 53, 60, 67] else
                                        3 if x in [47, 54, 61] else
                                        4 if x in [48, 55, 62] else
                                        5 if x in [49, 56, 63] else
                                        6 if x in [50, 57, 64] else
                                        7
                            )
    col = list(df.columns)
    col.remove('weekday')
    col = ['weekday'] + col
    df = df[col]
    df.to_csv(save_path, sep='\t', index=False)

In [9]:
add_weekday("/root/autodl-tmp/yankai/data/data/simplified_install_trn_val_tst.csv", '/root/autodl-tmp/xingmei/RecSys23/data/simplified_install_trn_val_tst_with_weekday.csv')

In [10]:
add_weekday("/root/autodl-tmp/yankai/data/data/simplified_install_sub_trn_val.csv", '/root/autodl-tmp/xingmei/RecSys23/data/simplified_install_sub_trn_val_with_weekday.csv')

In [11]:
add_weekday("/root/autodl-tmp/yankai/data/data/simplified_trn_val_tst.csv", '/root/autodl-tmp/xingmei/RecSys23/data/simplified_trn_val_tst_with_weekday.csv')

In [12]:
add_weekday("/root/autodl-tmp/yankai/data/data/simplified_sub_trn_val.csv", '/root/autodl-tmp/xingmei/RecSys23/data/simplified_sub_trn_val_with_weekday.csv')

In [13]:
import pickle
cache_path = f'/root/autodl-tmp/xingmei/RecSys23/data/preprocessed_trn_val_tst.cache'
with open(cache_path, 'rb') as f:
    df_ = pickle.load(f)
    f.close()
df_

,f_1,f_2,f_3,f_4,f_5,f_6,f_8,f_9,f_10,f_11,...,f_71,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,is_installed
0,-0.806291,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0
1,-0.357007,2,2,2,2,2,1,2,2,2,...,1,2,1,2,1,1,1,1,1,1.0
2,-1.405335,3,2,3,2,3,1,3,2,3,...,1,1,1,3,1,1,1,1,1,0.0
3,-0.656530,4,2,4,2,4,1,4,1,4,...,1,3,1,3,1,1,1,2,1,0.0
4,0.541559,5,2,5,2,5,2,5,2,5,...,1,2,1,4,1,1,1,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646820,1.739649,22,2,35,2,145,1,2,1,11,...,1,1,1,3,1,1,1,1,1,0.0
3646821,1.739649,3,2,3,3,186,2,2,1,11,...,1,2,2,3,1,1,1,2,2,0.0
3646822,1.739649,1,1,1,3,1,1,2,1,12,...,1,5,3,3,1,1,1,2,1,0.0
3646823,1.739649,19,3,30,3,36,5,2,2,9,...,1,2,1,4,1,1,1,1,1,0.0
3646824,1.739649,7,3,115,3,1022,3,2,2,2,...,1,1,1,3,1,1,1,1,1,0.0

In [14]:
df = pd.read_csv('/root/autodl-tmp/xingmei/RecSys23/data/simplified_trn_val_tst_with_weekday.csv', sep='\t')

In [15]:
df

,weekday,f_1,f_2,f_3,f_4,f_5,f_6,f_8,f_9,f_10,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,is_clicked,is_installed
0,6,50,20095,563,31686,15908,590,21218,21533,22970,...,0.000000,0.000000,0.077128,1.156922,0.269948,0.0,0.000000,0.000000,0,0
1,2,53,17769,22294,5503,25604,28739,21218,14659,19343,...,0.571121,0.000000,0.038564,1.156922,0.269948,0.0,0.000000,0.000000,0,1
2,2,46,14963,22294,26466,25604,12305,21218,9638,19343,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3,7,51,17758,22294,4870,25604,11727,21218,31372,22970,...,1.142243,0.000000,0.115692,1.156922,0.269948,0.0,37.384575,0.000000,0,0
4,1,59,5156,22294,18971,25604,22787,19203,6675,19343,...,0.571121,0.000000,0.000000,1.156922,0.269948,0.0,0.000000,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646820,2,67,26325,22294,4896,25604,23841,21218,14659,22970,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3646821,2,67,14963,22294,26466,21545,8488,19203,14659,22970,...,0.571121,0.571121,0.115692,1.156922,0.269948,0.0,37.384575,37.384575,0,0
3646822,2,67,20095,563,31686,21545,590,21218,14659,22970,...,2.284486,1.142243,0.115692,1.156922,0.269948,0.0,37.384575,0.000000,0,0
3646823,2,67,890,7152,497,21545,876,19606,14659,19343,...,0.571121,0.000000,0.000000,1.156922,0.269948,0.0,0.000000,0.000000,0,0
3646824,2,67,27426,7152,3786,21545,29871,18800,14659,19343,...,0.000000,0.000000,0.115692,1.156922,0.269948,0.0,0.000000,0.000000,0,0

In [16]:
df_['weekday'] = df['weekday']
col = list(df_.columns)
col.remove('weekday')
col = ['weekday'] + col
df_ = df_[col]
print(df_)
df_.to_csv('/root/autodl-tmp/xingmei/RecSys23/data/preprocessed_trn_val_tst_with_weekday', sep='\t', index=False)

         weekday       f_1  f_2  f_3  f_4  f_5   f_6  f_8  f_9  f_10  ...
0              6 -0.806291    1    1    1    1     1    1    1     1  ...  \
1              2 -0.357007    2    2    2    2     2    1    2     2  ...
2              2 -1.405335    3    2    3    2     3    1    3     2  ...
3              7 -0.656530    4    2    4    2     4    1    4     1  ...
4              1  0.541559    5    2    5    2     5    2    5     2  ...
...          ...       ...  ...  ...  ...  ...   ...  ...  ...   ...  ...
3646820        2  1.739649   22    2   35    2   145    1    2     1  ...
3646821        2  1.739649    3    2    3    3   186    2    2     1  ...
3646822        2  1.739649    1    1    1    3     1    1    2     1  ...
3646823        2  1.739649   19    3   30    3    36    5    2     2  ...
3646824        2  1.739649    7    3  115    3  1022    3    2     2  ...

         f_71  f_72  f_73  f_74  f_75  f_76  f_77  f_78  f_79  is_installed
0           1     1     1     1     1     1     1     1     1           0.0
1           1     2     1     2     1     1     1     1     1           1.0
2           1     1     1     3     1     1     1     1     1           0.0
3           1     3     1     3     1     1     1     2     1           0.0
4           1     2     1     4     1     1     1     1     1           0.0
...       ...   ...   ...   ...   ...   ...   ...   ...   ...           ...
3646820     1     1     1     3     1     1     1     1     1           0.0
3646821     1     2     2     3     1     1     1     2     2           0.0
3646822     1     5     3     3     1     1     1     2     1           0.0
3646823     1     2     1     4     1     1     1     1     1           0.0
3646824     1     1     1     3     1     1     1     1     1           0.0

[3646825 rows x 77 columns]

In [17]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646825 entries, 0 to 3646824
Data columns (total 77 columns):
 #   Column        Dtype
---  ------        -----
 0   weekday       int64
 1   f_1           float64
 2   f_2           int64
 3   f_3           int64
 4   f_4           int64
 5   f_5           int64
 6   f_6           int64
 7   f_8           int64
 8   f_9           int64
 9   f_10          int64
 10  f_11          int64
 11  f_12          int64
 12  f_13          int64
 13  f_14          int64
 14  f_15          int64
 15  f_16          int64
 16  f_17          int64
 17  f_18          int64
 18  f_19          int64
 19  f_20          int64
 20  f_21          int64
 21  f_22          int64
 22  f_23          int64
 23  f_24          int64
 24  f_25          int64
 25  f_26          int64
 26  f_30          int64
 27  f_31          int64
 28  f_32          int64
 29  f_33          int64
 30  f_34          int64
 31  f_35          int64
 32  f_36          int64
 33  f_37          int64
 34  f_38          int64
 35  f_39          int64
 36  f_40          int64
 37  f_41          int64
 38  f_42          int64
 39  f_43          float64
 40  f_44          int64
 41  f_45          int64
 42  f_46          int64
 43  f_47          int64
 44  f_48          int64
 45  f_49          int64
 46  f_50          int64
 47  f_51          int64
 48  f_52          int64
 49  f_53          int64
 50  f_54          int64
 51  f_55          int64
 52  f_56          int64
 53  f_57          int64
 54  f_58          float64
 55  f_59          float64
 56  f_60          int64
 57  f_61          int64
 58  f_62          int64
 59  f_63          int64
 60  f_64          float64
 61  f_65          float64
 62  f_66          float64
 63  f_67          float64
 64  f_68          float64
 65  f_69          float64
 66  f_70          float64
 67  f_71          int64
 68  f_72          int64
 69  f_73          int64
 70  f_74          int64
 71  f_75          int64
 72  f_76          int64
 73  f_77          int64
 74  f_78          int64
 75  f_79          int64
 76  is_installed  float64
dtypes: float64(12), int64(65)
memory usage: 2.1 GB